/********* GRUNDLÄGGANDE *************/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comfortaa:wght@300&family=Indie+Flower&family=Titan+One&display=swap');


@media screen and (max-height: 450px) {

  .overlay a {
    font-size: 1vw
  }

  .overlay .closebtn {
    font-size: 1vw;
  }

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  h1,
  h2 {
    font-family: 'Titan One', cursive;
    font-weight: 100;
    font-size: 7vw;
    line-height: 10vw;
  }

  #imgIndex {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 80%;
  }

  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    color: #939393;
    background-color: rgb(255, 255, 255);
  }

  input[type=text],
select,
textarea {
    width: 89%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

  .wrapper, #kontakt{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-variant: normal;
    font-size: 1rem;
    line-height: 2rem;
  }

  iframe{

    width: 100%;

  }

  table {
    background-color: #ffffff;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 2px solid rgb(32, 32, 32);
    text-align: center;
    padding: 5px;
}

th {
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
}

tr:nth-of-type(odd) {
    background-color: rgb(206, 205, 205);
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: indianred;
}
.yellow {
    background-color: rgb(248, 180, 32);
}

footer {
  margin-top: 20%;
}

  }

  
